body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('images/background3.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 15px;
    opacity: 0.7;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #797373;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #aa0b0b;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: rgb(5, 5, 5);
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 4px solid;
    background: #425df7;
    border-radius: 25px;
    font-size: 18px;
    color: rgb(255, 254, 254);
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-color: #425df7;
}

input[type="submit"]:hover{
    border-color: #3653f8;
    transition: .5s;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.signup_link a{
    color: #425df7;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}